<h2 class="slide-title">Nehmen Sie aktuell Cortison ein (in Tablettenform)?</h2>
<ion-radio-group value="cortisol">
  <ion-item>
    <ion-label>Ja</ion-label>
    <ion-radio slot="start" value="0" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Nein</ion-label>
    <ion-radio slot="start" value="1" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Ich weiß es nicht</ion-label>
    <ion-radio slot="start" value="2" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>
</ion-radio-group>
