<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>
            <h1>
              {{ "about.information.title" | translate }}
            </h1>
            <p>
              {{ "about.information.text" | translate }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button (click)="start()" size="large">
        {{ "about.page.start" | translate }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
