<h2 class="slide-title">Sind Sie in einem der folgenden Bereiche tätig?</h2>
<ion-radio-group value="work" [(ngModel)]="work" (ionChange)="submit();">
  <ion-item>
    <ion-label>Im medizinischen Bereich</ion-label>
    <ion-radio slot="start" value="0"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>In einer Gemeinschaftseinrichtung (Schule, Kita, Universität, Heim, etc.)</ion-label>
    <ion-radio slot="start" value="1"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Nein, in keinem der genannten Bereiche</ion-label>
    <ion-radio slot="start" value="1" ></ion-radio>
  </ion-item>
</ion-radio-group>