<h2 class="slide-title">Wie hoch war die höchste Temperatur ca.?</h2>
<ion-radio-group value="fever-temperature"  [(ngModel)]="fevertemperature" (ionChange)="submit();">
  <ion-item>
    <ion-label>Weniger als 38° C</ion-label>
    <ion-radio slot="start" value="0"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>38 °C</ion-label>
    <ion-radio slot="start" value="1"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>39 °C</ion-label>
    <ion-radio slot="start" value="2"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>40 °C</ion-label>
    <ion-radio slot="start" value="3"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>41 °C</ion-label>
    <ion-radio slot="start" value="4"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>42 °C</ion-label>
    <ion-radio slot="start" value="5"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Über 42 °C</ion-label>
    <ion-radio slot="start" value="6"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Ich weiß es nicht</ion-label>
    <ion-radio slot="start" value="7"></ion-radio>
  </ion-item>
</ion-radio-group>
