<h2 class="slide-title">Waren Sie in einem der folgenden Länder?</h2>
<ion-radio-group value="risky-travel">
  <ion-item>
    <ion-label>Italien</ion-label>
    <ion-radio slot="start" value="0" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Iran</ion-label>
    <ion-radio slot="start" value="1" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>China</ion-label>
    <ion-radio slot="start" value="2" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Südkorea</ion-label>
    <ion-radio slot="start" value="3" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Frankreich</ion-label>
    <ion-radio slot="start" value="4" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Österreich</ion-label>
    <ion-radio slot="start" value="5" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Spanien</ion-label>
    <ion-radio slot="start" value="6" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>USA</ion-label>
    <ion-radio slot="start" value="7" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Ich war in keinem der genannten Länder</ion-label>
    <ion-radio slot="start" value="8" (ionSelect)="radioChecked(1)"></ion-radio>
  </ion-item>
</ion-radio-group>