<ion-content>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h1>{{ "about.greenlight.title" | translate }}</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ "about.greenlight.text_1" | translate }}</p>
          <ul>
            <li>{{ "about.greenlight.item_1" | translate }}</li>
            <li>{{ "about.greenlight.item_2" | translate }}</li>
            <li>{{ "about.greenlight.item_3" | translate }}</li>
          </ul>
          <p>
            {{ "about.greenlight.text_2_prefix" | translate }} <a href="https://www.infektionsschutz.de/haendewaschen.html">{{ "about.greenlight.text_2_link" | translate }}</a>{{ "about.greenlight.text_2_suffix" | translate }}
          </p>
          <p>
            {{ "about.greenlight.text_3" | translate }}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>




