<ion-content>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h1>Bleiben Sie zuhause</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Es besteht derzeit kein Handlungsbedarf für Sie, da Sie:</p>
          <ul>
            <li>Keinen Kontakt zu einem bestätigten Fall hatten</li>
            <li>In den letzten 14 Tagen in keinem Risikogebiet laut RKI waren</li>
            <li>Keine Symptome haben</li>
          </ul>
          <p>Achten Sie vermehrt auf <a href="https://www.infektionsschutz.de/haendewaschen.html">gute Händehygiene</a>.

            Wenn Sie das Haus verlassen, halten Sie ausreichend Abstand (mehr als 2 Meter) zu anderen Personen, fassen Sie möglichst nichts an, und achten Sie auf die Regeln für richtiges Husten und Niesen.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>




