<h2 class="slide-title">Nehmen Sie aktuell Immunsuppressiva?</h2>
<p>
  Immunsuppresiva nehmen oder bekommen Sie nach einer Organtransplantation, während der Therapie einer Autoimmunerkrankung oder im Rahmen einer Chemotherapie.
</p>
<ion-radio-group value=""  [(ngModel)]="immunsuppressiva" (ionChange)="submit();">
  <ion-item>
    <ion-label>Ja</ion-label>
    <ion-radio slot="start" value="0"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Nein</ion-label>
    <ion-radio slot="start" value="1"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Ich weiß es nicht</ion-label>
    <ion-radio slot="start" value="2"></ion-radio>
  </ion-item>
</ion-radio-group>
