<h2 class="slide-title">Haben Sie sich im Zeitraum von Oktober 2019 bis heute gegen Grippe impfen lassen?</h2>
<ion-radio-group value="flu-shot" [(ngModel)]="flushot" (ionChange)="submit();">
  <ion-item>
    <ion-label>Ja</ion-label>
    <ion-radio slot="start" value="0"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Nein</ion-label>
    <ion-radio slot="start" value="1"></ion-radio>
  </ion-item>
</ion-radio-group>

<ion-button fill="clear" (click)="startApp()">
  Abschließen
  <ion-icon slot="end" name="arrow-forward"></ion-icon>
</ion-button>
